.cat-character {
    display: inline;
    top: 20px;
    border-radius: 100%;
    position: absolute;
    margin-top: 13.6%;


}

#plane {
   display: inline-block;
   width: 1000px;
   height: 200px;
   border-style: dotted;
   position: relative;
}

.obstacle {
    display: inline;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 13.2%;
    top: 19.5px;
    left: 95%;
    animation-name: obstaclemovement;
    animation-duration: infinite;
    background-color: black;
    animation-direction: forward;
}

@keyframes obstaclemovement {
0% {left: 100%; top: 0px;}
100% {left: 0%; top: 0px;}
}
