.cat-character {
  display: inline-block;
  top: 20px;
  border-radius: 100%;
  position: absolute;
  margin-top: 615px;
  left: 0px;

}

.catanimation {
  animation: updown;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  
  
}

@keyframes updown {
  0% {transform: translate(0,0);}
  100% {transform: translate(0,-120px);}
}

#plane {
 display: inline-block;
 width: 2000px;
 height: 700px;
 border-style: dotted;
 position: relative;
}

.obstacle {
  display: inline;
  position: absolute;
  margin-top: 600px;
  top: 19.5px;
  right: 5%;
  animation-name: obstaclemovement;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes obstaclemovement {
0% {transform: translateX(0);}
100% {transform: translateX(-1850px);}
}

.leaderboards {
margin-top: 50px;
width: 100px;
height: 100px;
border-radius: 100%;
vertical-align: auto;
cursor: pointer;
}

.endgamemessage {
  display: inline-block;
  top: 10px;
  position: absolute;
  margin-top: 20%;
  left: 50%;
  color: rgb(255, 132, 0);
  font-size: large;
}
